.card {
  display: flex;
  overflow: hidden;
}
.card:hover {
  overflow-x: scroll !important;
}
.card::-webkit-scrollbar-track {
  background-color: black !important;
}
.card img:hover {
  transform: scale(1.1);
}
/* search */
.cardSearch {
  width: 100vw;
  margin-left: 1%;
}
/* btn */
.boxPage {
  text-align: right;
  margin-top: 3%;
  display: flex;
  justify-content: end;
}
.prev {
  margin-left: 1%;
}
.btnPage {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5%;
}
.next {
  margin-right: 3%;
}
.couterP {
  color: white;
  border: 1px solid white;
  margin: 0 3% 0 3%;
  padding: 0.5% 2% 0.5% 2%;
}
